In [28]:
import os
import pandas as pd

cwd = os.getcwd()
file_path = os.path.join(cwd, "PyBank", "Resources", "budget_data.csv")
df = pd.read_csv(file_path)

In [29]:
months = df["Date"].nunique()
months

86

In [30]:
net = df["Profit/Losses"].sum()
net

38382578

In [31]:
change = []
for i in range(months):
    if i == 0:
        delta = 0
        change.append(delta)
    else:
        current_pl = df.iloc[i,1]
        past_pl = df.iloc[(i-1),1]
        delta = current_pl - past_pl
        change.append(delta)
df["Change"] = change
df.head()

       Date  Profit/Losses  Change
0  Jan-2010         867884       0
1  Feb-2010         984655  116771
2  Mar-2010         322013 -662642
3  Apr-2010         -69417 -391430
4  May-2010         310503  379920

In [38]:
average_change = round(df["Change"].mean(),2)
average_change

-2288.2

In [33]:
increase_df = df.loc[df["Change"] == df["Change"].max(), ["Date", "Change"]]

increase_date = increase_df.iloc[0,0]
increase_change = increase_df.iloc[0,1]

In [34]:
decrease_df = df.loc[df["Change"] == df["Change"].min(), ["Date", "Change"]]

decrease_date = decrease_df.iloc[0,0]
decrease_change = decrease_df.iloc[0,1]

In [35]:
print("-----------------------------")
print("Financial Analysis")
print("-----------------------------")
print(f"Total Months: {months}")
print(f"Net Profits: {net}")
print(f"Average Change: ${average_change}")
print(f"Greatest Increase in Profits: {increase_date} (${increase_change})")
print(f"Greatest Decrease in Profits: {decrease_date} (${decrease_change})")

-----------------------------
Financial Analysis
-----------------------------
Total Months: 86
Net Profits: 38382578
Average Change: $-2288.2
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)